<!-- <h1>{{title}}</h1>
<app-user-list></app-user-list>
<app-users-list></app-users-list> -->
<!-- <button (click)="getData')">click me</button> -->
<!-- <input type="text" #box (keypress)="getData(box.value)" placeholder="Enter Name" name="username">
<p>{{displayVal}}</p> -->
<!-- <h1 *ngIf="show; then ifBlock else esleBlock"></h1>
<ng-template #ifBlock>
  <h1>Else</h1>
</ng-template>

<ng-template #esleBlock>
  <h1>Else</h1>
</ng-template> -->
<!-- <div [ngSwitch]="color">
     <h1 *ngSwitchCase="'red'" style="color: red;">red color</h1>
     <h1 *ngSwitchCase="'blue'" style="color: blue;">blue color</h1>
</div> -->

<!-- <h1 *ngFor="let item of users">{{item}}</h1> -->

<!-- <ul *ngFor="let item of user1">
 <li>{{item.name}}</li>
 <li>{{item.phone}}</li>
 <ul *ngFor="let user of item.randomnum">
      <li>{{user}}</li>
</ul>
</ul> -->

<!-- Style Binding -->
<!-- <h1 [style.color]="color">{{title}}</h1>
<button (click)="updateColor()">Update color</button> -->

<!-- Header -->
<!-- <app-header></app-header>
<ngb-alert [dismissible]="false">
	<strong>Warning!</strong> Better check yourself, you're not looking too good.
</ngb-alert>
<div class="container">
<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)" >
  <input ngModel type="text" name="userName" placeholder="Enter Name">
  <br>
  <br>
  <input ngModel type="text" name="userEmail" placeholder="Enter Email">
  <br>
  <br>
  <input ngModel type="text" name="userPassword" placeholder="Enter Password">
  <br>
  <br>
  <button>Register</button>

</form>
</div>
<button mat-button color="accent">Accent</button>

<h3>User Data</h3>
<div>{{userData.userName}}</div>
<div>{{userData.userEmail}}</div>
<div>{{userData.userPassword}}</div> -->


<!-- send data to child component -->
<h1>{{child}}</h1>
<app-child [item]="data"></app-child>

<input type="text" [(ngModel)]="name">
<h2>{{name}}</h2>


<h1>{{20 | usdtoinr}}</h1>
